<<<<<<< HEAD
.gray-500 {
    color: gray;
=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
>>>>>>> 82ab4e6613f0ae037a0d637a357b79b02c542529
}

.spanRed {
    color: red;
<<<<<<< HEAD
}

.spanBlack {
    color: black;
}

.bgRed {
    background: red;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.formNew {
    background: #F1F1F1;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
=======
>>>>>>> 82ab4e6613f0ae037a0d637a357b79b02c542529
}