.gray-500 {
    color: gray;
}

.spanRed {
    color: red;
}

.spanBlack {
    color: black;
}

.bgRed {
    background: red;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.formNew {
    background: #F1F1F1;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}